################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FurnitureStoreAPI/.vs/FurnitureStoreAPI
/.vs
/FurnitureStoreAPI/obj
/FurnitureStoreAPI/.vs/ProjectEvaluation
/FurnitureStoreAPI/bin/Debug/net8.0
